.resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 2rem;
    background-color: #b74e91;
}


.cv-link {
    text-decoration: none;
    margin-bottom: 50px;
    margin-top: 1rem;
}

.cv-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 70px;
    background-color: #623686;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.cv-btn:hover {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.download-icon {
    margin-right: 5px;
}

.resume-img {
    max-width: 50%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Media queries */
@media (min-width: 768px) {
    .resume-container {
        margin-top: 0;
        padding-top: 8rem;
        flex-direction: column;
    }

}